@use '../utils/mixins' as *;
@use 'variables' as *;


.preface {
  padding: clamp(4rem, 10vw, 8rem) clamp(1rem, 4vw, 2rem);
  background-color: $home-bg;
  color: $home-txt;
  position: relative;
  z-index: 20;

  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(7, 1fr); 
      gap: 1.5rem;
    }
  }

  &__header {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }

  &__meta {
    &--desktop-only {
      display: none;
      
      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        @include font-body();
      }
    }
  }

  &__chapter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;

    @media (min-width: 768px) {
      text-align: right;
    }
  

    &-num {
      @include font-display();
      font-size: clamp(5.3125rem, 4.08rem + 4.63vw, 8.25rem);
      line-height: 0.75;
    }

    &-title {
      @include font-serif($italic: true);
      font-size: clamp(2rem, 1.5rem + 1.87vw, 3.1875rem);
    }
  }

  &__headline {
    grid-column: 1 / -1; 
    margin-top: 3rem;
    
    @include font-serif($italic: true);
    font-size: clamp(2.5625rem, 0.91rem + 6.21vw, 6.5rem);
    line-height: 1.1;

    @media (min-width: 1440px) {
      grid-column: 1 / 6; 
      margin-top: 6rem;
    }
  }

  &__highlight {
    font-family: $font-display; 
    font-style: normal;         
    color: $home-cl;         
  }

  &__content {
    display: contents; 
  }

  &__text--big {
    grid-column: 2 / -1; 
    margin-top: 2rem;
    margin-bottom: 1.5rem; 
    @include font-body(400);
    font-size: clamp(1.25rem, 1.17rem + 0.3vw, 1.4375rem);
    font-weight: 400; 
    line-height: 1.4;

    @media (min-width: 1024px) {
      grid-column: 3 / 7; 
      margin-top: 4rem;
    }
  }

  &__text {
    grid-column: 2 / -1; 
    @include font-body(400);

    @media (min-width: 1024px) {
      grid-column: 3 / 6; 
    }
  }

  &__seven {
    grid-column: 1 / -1; 
    margin-top: 5rem;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(7, 1fr);
      gap: 1.5rem;
      margin-top: 8rem;
    }
  }

  &__giant-text {
    grid-column: 1 / -1; 
    @include font-display();
    font-size: clamp(3.625rem, -1.06rem + 17.64vw, 14.8125rem);
    line-height: 0.8;
    letter-spacing: -0.02em;
  }

  &__subtext {
    grid-column: 1 / -1; 
    margin-top: 1.5rem;
    @include font-body(400);
    
    @media (min-width: 1024px) {
      grid-column: 1 / 4; 
    }
  }
}