$font-display: 'Anton', sans-serif; 
$font-serif: 'Bodoni Moda', serif;
$font-sans: 'Inter', sans-serif;

$home-bg:      #FDFFFA;
$home-txt:     #252525;
$home-cl:     #D6605C;

$orgueil-txt:   #FFFFFF;
$orgueil-bg:  #252525;
$orgueil-cl:  #D7AB56;

$paresse-bg:   #D5CFC4;
$paresse-txt:  #252525;
$paresse-txt2:  #8E8679;
$paresse-cl:  #479528;

$luxure-bg:    #2A1A21;
$luxure-txt:   #F7F0F3;
$luxure-cl:   #B46E8B;


$envie-bg:     #F0F4FA;
$envie-txt:    #1C2636;
$envie-cl:    #7BA4DB;

$colere-bg:    #252525;
$colere-txt:   #F7F0F3;
$colere-cl:   #D60E10;

$avarice-bg:   #B4ADC2;
$avarice-txt:  #FDFFFA; 
$avarice-cl:  #493B63;
$avarice-cl2:  #948CA4;

$gourmandise-bg: #876B5A;
$gourmandise-txt:  #F8F4F0;
$gourmandise-cl: #DABD8F;


.reveal-lines {
    opacity: 0;
    will-change: transform;
  
    * {
      will-change: transform;
    }
  }